* {
    margin: 0px;
    padding: 0px;
}
:root {
    --darkgrey: #212529;
    --white: #fff;
    --cyan:#15C7EF;
    --transparente:#21252900;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--darkgrey);
    color: var(--white);
}

nav a{
    font-weight: 300;
}
nav:hover {
background-color: var(--transparente);
}
h2 {
    font-weight: 600;
}
#tarjetas {
font-weight: 600;
}
article {
    margin: 150px 50px;
}
article i {
    background-color: var(--cyan);
}
section {
    margin: 150px 50px;
}
.card {
    background-color: var(--cyan);
    color: var(--white);
}

footer {
    background-color: var(--cyan);
}
footer a {
    color: var(--white);
}